$font-family: 'Helvetica Neue', 'Helvetica Neue LT Std', Helvetica, Arial, sans-serif;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$transition-duration: 150ms;

$global-radius: 5px;