<div class="m-classroom">

    <ul>
        <li ng-repeat="row in classroom track by $index">
            <ul class="m-classroom--student-list">
                <li ng-repeat="student in row track by $index" class="m-classroom--student">
                    <div class="m-classroom--student-card" ng-if="student.firstname">
                        <button type="button" class="m-classroom--student-card-participations" ng-if="student.participations !== 0">
                            {{student.participations}}
                        </button>
                        <button type="button" class="m-classroom--student-card-has-note" ng-if="student.note != null" ng-click="showNote(student)">
                            <span></span>
                        </button>
                        <img ng-src="{{student.photo}}" alt="" class="m-classroom--student-card-face">
                        <button type="button" class="warning-round" ng-class="{
                                'warning-green': student.warning === 1,
                                'warning-yellow': student.warning === 2,
                                'warning-orange': student.warning === 3,
                                'warning-red': student.warning === 4,
                                'warning-dark': student.warning === 5
                            }" ng-if="student.warning > 0"></button>
                        <span class="m-classroom--student-card-name">{{student.firstname}} {{student.lastname}}</span>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <div popin
         popin-is-open="studentNotePopin"
         popin-title="studentNotePopin.firstname + ' ' + studentNotePopin.lastname"
         popin-close="hideNote"
         popin-cancel-label=""
         popin-submit-label="'OK'">
        <p>
            Note : <br>
            {{studentNotePopin.note}}
        </p>
    </div>
</div>