.m-classroom {
    margin: 15px;

    ul {
        @include no-bullet();
    }

    button {
        &:focus {
            outline: none;
        }
    }

    ul.m-classroom--student-list {
        display: flex;
        margin-bottom: 15px;
    }
    &--student {
        position: relative;
        display: flex;
        flex: 1;
    }

    .pick-student {
        display: block;
        width: 100%;
        height: 90px;
        padding: 5px 7px;
        text-align: center;
        background: #eee;
        border: none;
        border-right: 1px solid #ddd;
        border-bottom: 3px solid #ddd;
        text-indent: -9999px;
        -webkit-appearance: none;

        &:focus {
            outline: none;
        }
    }
    .seat-firstname,
    .seat-lastname {
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        text-align: center;
        user-select: none;
        pointer-events: none;
    }
    .seat-lastname {
        top: 45px;
    }

    &--student-card {
        position: relative;
        padding: 5px 7px 0;
        height: 127px;
        text-align: center;
        background: #eee;
        border: none;
        border-right: 1px solid #ddd;
        border-bottom: 3px solid #ddd;

        &-has-note {
            position: absolute;
            top: 48px;
            right: 5px;
            height: 30px;
            width: 30px;
            padding: 4px;
            background: $primary-color;
            border: 2px solid $secondary-color;
            border-radius: 100%;

            span {
                display: block;
                height: 100%;
                width: 100%;
                background: url(../images/note.png) center center;
                background-size: 100%;
            }

            &.empty-note {
                background: $secondary-color;
                border-color: $secondary-color;

                span {
                    background-image: url(../images/note-primary.png);
                }
            }
        }
        &-face {
            width: 76px;
            height: 76px;
            border-radius: 100%;
            margin-bottom: 6px;
            border: 2px solid $secondary-color;
        }
        &-participations {
            position: absolute;
            top: 3px;
            right: 9px;
            padding: 3px;
            height: 30px;
            width: 30px;
            line-height: 20px;
            font-size: 12px;
            text-align: center;
            color: $secondary-color;
            background: $primary-color;
            border-radius: 100%;
            border: 2px solid $secondary-color;
            transition: all $transition-duration;

            &.zero-participation {
                color: $primary-color;
                background: $secondary-color;
            }
            &.participations-edit {
                overflow: hidden;
                width: 78px;
                height: 78px;
                z-index: 1;
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

                .m-classroom--student-card-participations-button {
                    height: 50%;
                    font-size: 16px;
                }

                & + .close-participation {
                    display: block;
                    z-index: 2;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    height: 30px;
                    width: 30px;
                    background: $secondary-color;
                    border: none;
                    border-radius: 100%;
                }
            }

            &-button {
                border: none;
                background: none;
                padding: 0;
                height: 100%;
                width: 100%;
                transition: all $transition-duration;
            }

            &-edit {
                width: 100%;
                min-width: 70px;
                margin-top: -4px;

                button {
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    color: $primary-color;
                    background: $secondary-color;
                    font-size: 20px;
                    border: none;
                    border-radius: 100%;

                    &[disabled] {
                        opacity: 0.2;
                    }

                    & + button {
                        margin-left: 3px;
                    }
                }
            }
        }
        .close-participation {
            display: none;
        }
        .warning-round {
            position: absolute;
            top: 72px;
            left: 50%;
            transform: translateX(-50%);
        }
        .warning-edit {
            position: absolute;
            bottom: 30px;
            background: $secondary-color;
            border-radius: $global-radius;
            height: 47px;
            width: 87px;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            animation: showWarningEdit $transition-duration;

            .warning-round {
                position: relative;
                top: 3px;
                left: 7px;
                margin-bottom: 2px;
            }
        }
        &-name {
            display: block;
            height: 36px;
            font-size: 14px;
            margin-top: -3px;
        }
    }
}

.warning-round {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 2px solid $secondary-color;
    border-radius: 100%;

    &.warning-current {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
}

.warning {
    background: $grey;

    &-green {
        background: #27ae60;
    }
    &-yellow {
        background: #f1c40f;
    }
    &-orange {
        background: #e67e22;
    }
    &-red {
        background: #c0392b;
    }
    &-dark {
        background: #2c3e50;
    }
}

@keyframes showWarningEdit {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}