.in-place-edit {
    border: 1px solid transparent;
    background: none !important;
    transition: border 150ms;

    &:focus {
        border-color: $grey-light;
        outline: none;
    }
}
textarea.in-place-edit {
    width: 100%;
    resize: none;
    background: none;
    border: none;
}
.m-popin textarea.in-place-edit {
    min-width: 400px;
    min-height: 200px;
}

select.centred {
    position: relative;
    display: block;
    margin: 0 auto 15px;
    padding: 10px;
    border: 1px solid $grey-lighter;

    &:focus {
        outline: none;
        border-color: $primary-color;
    }
}

:root .form-field {
    margin-top: 20px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    select {
        display: inline-block;
        height: 40px;
        padding: 10px;
        border: 1px solid $grey-light;
        outline: none;
    }
}